header{
    background: url('../img/banner.jpg') center center;
    background-size: cover;
}

#logo {
    padding: 50px 0;
    color: @white;
    h1 {
        font-weight: 300;
        text-shadow: 3px 3px 0px @ux_pink;
    }
    h1 span {
        font-weight: 700;
        text-shadow: 3px 3px 0px @ux_pink;
    }
    .baseline {
/*        color: #eee;
        color: rgba(255,255,255,0.8);*/
        text-shadow: 2px 2px 0px @ux_pink;
    }
    .organizers {
        /*color: rgba(255,255,255,0.8);*/
        font-weight: 700;
        text-shadow: 1px 1px 0px @ux_pink;
    }
    .organizers a {
        text-decoration: none;
        /*color: rgba(255,255,255,0.8);*/
        border: none;
    }
    #ratio {
        margin-bottom: 20px;
    }
    #uxr {
        width: 50%;
        margin: 10px auto 0 auto;
        padding-top: 10px;
        border-top: solid 1px #fff;
        border-top: solid 1px rgba(255,255,255,0.5);
    }
    #date {
        font-size: 2em;
        margin: 50px auto 0 auto;
        text-shadow: 3px 3px 0px @ux_pink;
    }
}

#logo h1{ .font-size(48); }

@media (min-width: @screen-md){
  #logo h1{ .font-size(64); }
}
@media (min-width: @screen-lg){
  #logo h1{ .font-size(80); }
}



@media (min-width: @screen-lg){
    header{
        height: 470px !important;
    }
    #logo {
        padding: 50px 0 70px 0;
    }
}


.main-nav{
    text-transform: uppercase;
    font-size: 1.1em;
}


