/*! responsive-nav.js 1.0.30 by @viljamis */

@media screen and (max-width: 40em) {
  .nav-collapse{
    clear: both;
  }
  .nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }

  .nav-collapse li {
    width: 100%;
    display: block;
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50px;
  height: 60px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #f4421a url("../img/hamburger.gif") no-repeat 50% 50%;
  border-bottom: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
