.inverse-section{
    background-color: @white;
    color: @ux_pink;

    .section-title{
        h1{
            background-color: @white;
            color: @ux_grey;
        }
    }
    a{
        color: @ux_grey;
        border-bottom-color: @ux_grey;
    }
}

.title-section{
    h2, h3{
        color: @ux_pink;
    }
}