{% extends "layout.html.twig" %}

{% block header %}
<section class="on-pink photoed text-center inner-isolated">
    <p><small><a href="#">:ratio</a> & <a href="#">UXRomandie</a> present</small></p>
    <div class="logo logo-big"><strong>UX Lausanne 2014</strong></div>
    <h3>Creating delightful User Experiences</h3>
    <h5>2 days - 8 talks - 8 workshops</h5>
    <h2>May 22–23, 2014</h2>
    <a href="#">@ Arsenic - Lausanne, Switzerland</a>
</section>
{% endblock %}

{% block content %}
<div class="on-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center isolated">What is UX Lausanne</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="lead">UX Lausanne is the first Western Switzerland event dedicated exclusively to User Experience Design & how to design delightful user experiences.</p>
            </div>
            <div class="col-sm-8">
                <p>After 2 years of monthly UXRomandie meetups, UX Lausanne will take place for the first time in 2014.</p>
                <p>The 2 day format will bring together local & international UX professionals to share knowledge and gain expertise in the User Experience field.</p>
                <p>The conference will be held at Arsenic Theater, one of Lausanne's most vibrant cultural spots.</p>
            </div>
        </div>    
    </div>
</div>
{% endblock %}