{% extends "layout.html.twig" %}
{% set active_page = "venue" %}
{% block title 'About - UX Lausanne 2014' %}

{% block header %}
<section class="on-pink circled text-center inner-isolated">
  <h1>Venue</h1>
</section>
{% endblock %}

{% block content %}


<div class="container inner-isolated">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center isolated ">Talks & Workshops </h2>
            <img src="/assets/img/venue_arsenic_2.jpg" alt="L'arsenic" class="img-thumbnail" width="100%" />
        </div>
    </div>
    <div class="row inner-isolated">
        <div class="col-sm-4 ">
            <h4>L'arsenic</h4>
            UX Lausanne will take place at L'Arsenic, one of Lausanne most vibrant spots for dance and contemporary theatre. Opened in 1990 in the old workshops of a professional training college and recently renovated, it's a perfect place for learning and delighting.
        </div>
        <div class="col-sm-8">
            <h4>Practical information</h4>
            <div class="row">
                <div class="col-md-3 ">
                    <p><strong>Opening hours</strong><br/>
                    The venue will be opened from 8:00 to 18:00.
                    The first talk is at 9:30 on thursday.
                    </p>
                </div>
                <div class="col-md-3 ">
                    <p><strong>Address</strong><br/>
                        <a href="https://goo.gl/maps/9N19s">Rue de Genève 57<br/>
                        1004 Lausanne</a>
                    </p>
                </div>
                <div class="col-md-6">
                    You may trust Google Maps to find <a href="https://goo.gl/maps/9N19s">l'Arsenic</a>. It misses a few shortcuts but you can follow the directions for walking, by public transportation or even by car.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center isolated ">Other venues</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            
            <img src="/assets/img/venue_dance.jpg" alt="L'arsenic" class="img-thumbnail" width="100%" />
            <h3 >Thursday Evening <strong>Twerk</strong></h3>
            <p>On Thursdsay evening, UX Lausanne invites you to expand your mind with the show <a href="http://www.arsenic.ch/programme/altered-natives-excess-twerk/">Twerk</a>.
            <p>For this dance collective performance, Cecilia Bengolea and François Chaignaud got inspired by their teenage years, during which they spent their time in discos. From London to NYC, they went from club to club for their anthopological research: drum&bass, jungle, dubstep, reggae, bashement, house, voguing, hype. That's how they became familiar with and learnt Jamaican dancehall, krump, house, split & jump – dances which, regardless of their formal and spiritual differences, have a certain playfulness in common, which is also shared by one of their British equivalents : Grime.</p>
            <p>The syncretic ferociousness of this style, which seems to be hanging between two contradictory speeds, between the abstraction of synthetic sounds and MCs’ sensual emergency, interacts with the various influences which have inspired the dances.</p>
        </div>
        <div class="col-md-6">
            
            <img src="/assets/img/venue_bourgplage.jpg" alt="L'arsenic" class="img-thumbnail" width="100%" />
            <h3 >Closing Party <strong>Le Bourg Plage</strong></h3>
            <p>We decided to take you to one of the best places in town for the closing party.</p>
            <p>Right in the middle of city center, this bar is located under the Bessières bridge.</p>
            <p>This bar and theater/music venue is literally in the shadow of the Cathedral. When the weather is nice and you want a cold beer to refresh yourself from the warm summer sun, drop by and forget you are in the city, catching perhaps some live music or performance. </p>
            <p>This place is really tucked away, since it is built in between the two tiers of the city and uses a huge stone arch of the Bessières bridge as its ceiling and walls. To get there, go to the cathedral-side of Pont Bessières, on the south side of the street and take the stairs down under the bridge.
            </p>
            <p>Il will lead you to this charming and original spot, where you'll enjoy drinks and snacks, rubbing shoulders with the local hip crowd.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
</div>

{% endblock %}