{% extends "layout.html.twig" %}
{% set active_page = "venue" %}
{% block title 'About - UX Lausanne 2014' %}

{% block header %}
<section class="on-pink circled text-center inner-isolated">
  <h1>Venue</h1>
</section>
{% endblock %}

{% block content %}


<div class="container inner-isolated">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center isolated ">Talks & Workshops </h2>
            <img src="/assets/img/venue_arsenic_2.jpg" alt="L'arsenic" class="img-thumbnail" width="100%" />
        </div>
    </div>
    <div class="row inner-isolated">
        <div class="col-sm-4 ">
            <h4>L'Arsenic</h4>
            UX Lausanne will take place at L'Arsenic, one of Lausanne most vibrant spots for dance and contemporary theatre. Opened in 1990 in the old workshops of a professional training college and recently renovated, it's a perfect place for learning and delighting.
        </div>
        <div class="col-sm-8">
            <h4>Practical information</h4>
            <div class="row">
                <div class="col-md-3 ">
                    <p><strong>Opening hours</strong><br/>
                    The venue will be opened from 8:00 to 18:00.
                    The first talk is at 9:30 on thursday.
                    </p>
                </div>
                <div class="col-md-3 ">
                    <p><strong>Address</strong><br/>
                        <a href="https://goo.gl/maps/9N19s">Rue de Genève 57<br/>
                        1004 Lausanne</a>
                    </p>
                </div>
                <div class="col-md-6">
                    You may trust Google Maps to find <a href="https://goo.gl/maps/9N19s">l'Arsenic</a>. It misses a few shortcuts but you can follow the directions for walking, by public transportation or even by car.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center isolated ">Other venues</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a name="opening" > </a>
            <img src="/assets/img/venue_lasuite.jpg" alt="L'arsenic" class="img-thumbnail" width="100%" />
            <h3 >Opening drinks <br /><strong>La Suite</strong></h3>
            <p>On Wednesday, UX Lausanne invites you to have a few drinks at <a href="http://www.lasuite.ch">La Suite</a> restaurant.
            <p>This café is located in one of the most famous street of Lausanne, <a href="https://goo.gl/maps/R2hwG">rue du Petit-Chêne, 28</a>.</p>
            <p>Come meet your fellow attendees and collect your badge before the thursday morning rush!</p>

        </div>
        <div class="col-md-4">
            <a name="twerk" > </a>
            <img src="/assets/img/venue_dance.jpg" alt="L'arsenic" class="img-thumbnail" width="100%" />
            <h3 >Thursday evening <br /><strong>Twerk</strong></h3>
            <p>On Thursdsay evening, UX Lausanne invites you to expand your mind with the show <a href="http://www.arsenic.ch/programme/altered-natives-excess-twerk/">Twerk</a>
            <p>We highly encourage you to discover their dance collective performance.</p>
            
        </div>
        <div class="col-md-4">
            <a name="closing" > </a>
            <img src="/assets/img/venue_bourgplage.jpg" alt="L'arsenic" class="img-thumbnail" width="100%" />
            <h3 >Closing party <br /><strong>Le Bourg Plage</strong></h3>
            <p>We decided to take you to one of the best places in town for the closing party.</p>
            <p>Right in the middle of city center, this bar is located under the<a href="https://goo.gl/maps/JoiBt"> Bessières bridge</a>.</p>
            <p>Il will lead you to this charming and original spot, where you'll enjoy drinks and snacks, rubbing shoulders with the local hip crowd.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
</div>

{% endblock %}