body{
    // background: url("../img/overlay.png") 0 0 repeat;
}

/* 
# Theme related element
*/


/* 
## On pink background
````
<div class="on-pink">
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum, quis, beatae, nesciunt reprehenderit odit similique distinctio <a href="#">recusandae facilis nam</a> quisquam tempora ullam quo voluptatum cum laboriosam sit. Molestiae, porro.</p>
</div>
````
*/
.on-pink{
  background-color: @ux_pink;
  color: @white;
  a{
    color: @white;
  }
}

/* 
## On Grey background
````
<div class="on-grey">
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum, quis, beatae, nesciunt reprehenderit odit similique distinctio <a href="#">recusandae facilis nam</a> quisquam tempora ullam quo voluptatum cum laboriosam sit. Molestiae, porro.</p>
</div>
````
*/
.on-grey{
  background-color: @ux_grey_lighter;
}

/* 
## On Dark background
````
<div class="on-dark">
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum, quis, beatae, nesciunt reprehenderit odit similique distinctio <a href="#">recusandae facilis nam</a> quisquam tempora ullam quo voluptatum cum laboriosam sit. Molestiae, porro.</p>
</div>
````
*/
.on-dark{
  background-color: @ux_grey;
  color: @white;
  a{
    color: @white;
  }
}